<div ng-controller="servicesController" ng-init="init()">
    <header class="top">
        <div class="logo_section"> <a class="logo" href="#"></a><img src="/Content/Assets/images/logo.png" alt="Logo"></a> </div>

        <h1> Setting </h1>

        <div class="pull-right movileViewList">
            <ul class="nav navbar-nav navbar-right ">
                <li><a href="#" id="menuiconBar" class="mobileViewIconBar"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="top_right settingTopRight">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li class="upgrade_btn"><a href="#" title="">Upgrade</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-bell-o" aria-hidden="true"></i> <span class="caret"></span> </a>

                                <!-- /.dropdown-user -->
                                <ul class="dropdown-menu dropdown-user animated flipInY">
                                    <li id="my_details">
                                        <a href="#">
                                            <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-user setmore-icon-fsize"></span> </div>
                                            <div class="nav-dropdown-desc-holder">
                                                <h3 class="nav-dropdown-desc-header">test@gmail.com</h3>
                                                <p class="nav-dropdown-desc-text">Username/password</p>
                                            </div>
                                            <div class="clear"></div>
                                        </a>
                                    </li>
                                    <li id="account_details">
                                        <a href="#">
                                            <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-account-plan setmore-icon-fsize"></span> </div>
                                            <div class="nav-dropdown-desc-holder">
                                                <h3 class="nav-dropdown-desc-header">Account Plan</h3>
                                                <p class="nav-dropdown-desc-text">Update account</p>
                                            </div>
                                            <div class="clear"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-cog setmore-icon-fsize"></span> </div>
                                            <div class="nav-dropdown-desc-holder">
                                                <h3 class="nav-dropdown-desc-header">Refresh</h3>
                                                <p class="nav-dropdown-desc-text">Updates the Page</p>
                                            </div>
                                            <div class="clear"></div>
                                        </a>
                                    </li>
                                    <li id="sign_out" class="nav-dropdown-li-last">
                                        <a href="#">
                                            <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-log-out setmore-icon-fsize"></span> </div>
                                            <div class="nav-dropdown-desc-holder">
                                                <h3 class="nav-dropdown-desc-header">Sign Out</h3>
                                                <p class="nav-dropdown-desc-text">See you soon!</p>
                                            </div>
                                            <div class="clear"></div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="setmore-icon-user nav_user_icon"></i> <span class="caret"></span> </a>

                                <!-- /.dropdown-user -->
                                <ul class="dropdown-menu dropdown-user animated flipInY">
                                    <li id="my_details">
                                        <a href="#">
                                            <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-user setmore-icon-fsize"></span> </div>
                                            <div class="nav-dropdown-desc-holder">
                                                <h3 class="nav-dropdown-desc-header">test@gmail.com</h3>
                                                <p class="nav-dropdown-desc-text">Username/password</p>
                                            </div>
                                            <div class="clear"></div>
                                        </a>
                                    </li>
                                    <li id="account_details">
                                        <a href="#">
                                            <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-account-plan setmore-icon-fsize"></span> </div>
                                            <div class="nav-dropdown-desc-holder">
                                                <h3 class="nav-dropdown-desc-header">Account Plan</h3>
                                                <p class="nav-dropdown-desc-text">Update account</p>
                                            </div>
                                            <div class="clear"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-cog setmore-icon-fsize"></span> </div>
                                            <div class="nav-dropdown-desc-holder">
                                                <h3 class="nav-dropdown-desc-header">Refresh</h3>
                                                <p class="nav-dropdown-desc-text">Updates the Page</p>
                                            </div>
                                            <div class="clear"></div>
                                        </a>
                                    </li>
                                    <li id="sign_out" class="nav-dropdown-li-last">
                                        <a href="/logout.do">
                                            <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-log-out setmore-icon-fsize"></span> </div>
                                            <div class="nav-dropdown-desc-holder">
                                                <h3 class="nav-dropdown-desc-header">Sign Out</h3>
                                                <p class="nav-dropdown-desc-text">See you soon!</p>
                                            </div>
                                            <div class="clear"></div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <div class="clearfix"> </div>
        <div style="width: 100%;text-align: center;position: absolute;z-index: 999999; top:65px;" ng-if="IsVisible"><span id="voice-box" class="noDisplay" style="background:yellow; padding:5px 10px; border-radius:0 0 2px 2px;" ng-bind="MessageText"></span></div>
        <!-- <div style="width: 100%;text-align: center;position: absolute;z-index: 999999;" ng-if="IsVisible"><span id="voice-box" class="noDisplay" style="display: none;">Staff breaks saved.</span></div> -->
    </header>

    <div class="left_sidebar">
        <ul class="nav">
            <li class="side-nav-tooltip cursorhand" id="side-dashboard" data-toggle="tooltip" data-original-title="Dashboard" data-placement="right">
                <a ng-click="redirecttodashboard()" data-toggle="tab" class="setmore-icon-home" id="startDashboard"><small>Dashboard</small></a>
            </li>
            <li class="side-nav-tooltip cursorhand" id="side-calendar" data-placement="right" data-toggle="tooltip" data-original-title="Calendar"> <a href="" data-toggle="tab" class="setmore-icon-calendar-31" id="startCalendar"><small>Calendar</small></a> </li>
            <li class="side-nav-tooltip cursorhand" id="side-customers" title="" data-toggle="tooltip" data-original-title="Customers" data-placement="right">
                <a ng-click="redirecttoCustomer()" data-toggle="tab" class="setmore-icon-users2" id="side-nav-customers"><small>Customers</small></a>
            </li>
            <li class="side-nav-tooltip cursorhand" id="side-profile" data-toggle="tooltip" data-original-title="Apps &amp; Integrations" data-placement="right">
                <a href="" data-toggle="tab" class="setmore-icon-laptop-phone"><small>Profile&nbsp;</small></a>
            </li>

            <li class="side-nav-tooltip cursorhand active" id="settings_new" data-original-title="Settings" data-placement="right" data-toggle="tooltip">
                <a ng-click="RedirecttoStaff()" data-toggle="tab" class="fa fa-cog"><small>Settings</small></a>



            </li>


            <li class="side-nav-tooltip blue_icon" data-toggle="tooltip" data-original-title="Premium" data-placement="right"> <a class="setmore-icon-shield-alert" href="#"><small>Premium</small></a> </li>
        </ul>
    </div>
    <div class="right_section rightnavBarForMobile" id="settings">

        <div class="tabs_section" style="width: 100px;">
            <ul class="nav nav-tab nav-stacked">
                <li>
                    <a href="" data-toggle="tab" class="cursorhand">
                        <i class="setmore-icon-equalizer nav-icon-fsize"></i><br>
                        ACCOUNT
                    </a>
                </li>
                <li class="">
                    <a ng-click="RedirecttoStaff()" class="cursorhand" data-toggle="tab">
                        <i class="setmore-icon-users2 nav-icon-fsize"></i><br>
                        STAFF
                    </a>
                </li>
                <li class="active">
                    <a ng-click="redirecttoServices()" class="cursorhand" data-toggle="tab">
                        <i class="setmore-icon-truck nav-icon-fsize"></i><br>
                        SERVICES
                    </a>
                </li>
                <li id="paymentMainTab" style="">
                    <a href="" data-toggle="tab" class="cursorhand">
                        <i class="setmore-icon-cashier nav-icon-fsize"></i><br>
                        PAYMENTS
                    </a>
                </li>
                <li class="">
                    <a href="" data-toggle="tab" class="cursorhand">
                        <i class="setmore-icon-graduation-hat nav-icon-fsize"></i><br>
                        CLASSES
                    </a>
                </li>
                <li class="">
                    <a href="" data-toggle="tab" class="cursorhand">
                        <i class="setmore-icon-alarm-ringing nav-icon-fsize"></i><br>
                        NOTIFICATIONS
                    </a>
                </li>
            </ul>
        </div>

        <div id="settingsTabContent" class="tab-content full-height tabcontent">
            <div class="full-height servicesTabs" id="services">
                <div class="row staffaddCustomerSec rowmrgnDiv">

                    <div class="upgradeDiv">
                        <div class="row upgradeDivrow">
                            <div class="col-xs-12 visible-xs">
                                <div class="row">

                                    <div class="col-xs-4 upgradeButton">
                                        <button class="btn btn-default" type="button"> Upgrade</button>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="upgradeListbar pull-right">
                                            <ul class="list-inline">
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-bell-o" aria-hidden="true"></i> <span class="caret"></span> </a>

                                                    <!-- /.dropdown-user -->
                                                    <ul class="dropdown-menu dropdown-user animated flipInY upgradeDropdown">
                                                        <li id="my_details">
                                                            <a href="#">
                                                                <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-user setmore-icon-fsize"></span> </div>
                                                                <div class="nav-dropdown-desc-holder">
                                                                    <h3 class="nav-dropdown-desc-header">test@gmail.com</h3>
                                                                    <p class="nav-dropdown-desc-text">Username/password</p>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </a>
                                                        </li>
                                                        <li id="account_details">
                                                            <a href="#">
                                                                <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-account-plan setmore-icon-fsize"></span> </div>
                                                                <div class="nav-dropdown-desc-holder">
                                                                    <h3 class="nav-dropdown-desc-header">Account Plan</h3>
                                                                    <p class="nav-dropdown-desc-text">Update account</p>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-cog setmore-icon-fsize"></span> </div>
                                                                <div class="nav-dropdown-desc-holder">
                                                                    <h3 class="nav-dropdown-desc-header">Refresh</h3>
                                                                    <p class="nav-dropdown-desc-text">Updates the Page</p>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </a>
                                                        </li>
                                                        <li id="sign_out" class="nav-dropdown-li-last">
                                                            <a href="#">
                                                                <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-log-out setmore-icon-fsize"></span> </div>
                                                                <div class="nav-dropdown-desc-holder">
                                                                    <h3 class="nav-dropdown-desc-header">Sign Out</h3>
                                                                    <p class="nav-dropdown-desc-text">See you soon!</p>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> <i class="setmore-icon-user nav_user_icon"></i> <span class="caret"></span> </a>

                                                    <!-- /.dropdown-user -->
                                                    <ul class="dropdown-menu dropdown-user animated flipInY userUpgradeDropdown upgradeDropdown">
                                                        <li id="my_details">
                                                            <a href="#">
                                                                <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-user setmore-icon-fsize"></span> </div>
                                                                <div class="nav-dropdown-desc-holder">
                                                                    <h3 class="nav-dropdown-desc-header">test@gmail.com</h3>
                                                                    <p class="nav-dropdown-desc-text">Username/password</p>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </a>
                                                        </li>
                                                        <li id="account_details">
                                                            <a href="#">
                                                                <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-account-plan setmore-icon-fsize"></span> </div>
                                                                <div class="nav-dropdown-desc-holder">
                                                                    <h3 class="nav-dropdown-desc-header">Account Plan</h3>
                                                                    <p class="nav-dropdown-desc-text">Update account</p>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-cog setmore-icon-fsize"></span> </div>
                                                                <div class="nav-dropdown-desc-holder">
                                                                    <h3 class="nav-dropdown-desc-header">Refresh</h3>
                                                                    <p class="nav-dropdown-desc-text">Updates the Page</p>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </a>
                                                        </li>
                                                        <li id="sign_out" class="nav-dropdown-li-last">
                                                            <a href="/logout.do">
                                                                <div class="nav-dropdown-icon-holder"> <span class="setmore-icon-log-out setmore-icon-fsize"></span> </div>
                                                                <div class="nav-dropdown-desc-holder">
                                                                    <h3 class="nav-dropdown-desc-header">Sign Out</h3>
                                                                    <p class="nav-dropdown-desc-text">See you soon!</p>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 left_side2 addcustomerSec allServiceCategorySec">
                        <div class="categoriesSec">
                            <div class="categoriesHead">
                                <h3>Categories (2)</h3>
                            </div>
                            <div class="categoryButton">
                                <button class="pull-right btn btn-circle" id="settingCategory" title="" data-original-title="Add New Staff" ng-click="showcategorypopup = !showcategorypopup">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <div class="row">

                                    <div class="col-md-12">
                                        <div id="newaddCategoryPopup" class="addCustomer bottomArrow  addCategoryPopup" ng-show="showcategorypopup" style="display:block;">
                                            <div class="arrow"></div>
                                            <h3 class="addCustomerTitle">Add New Category</h3>
                                            <form ng-submit="AddCategory()" name="CategoryForm" novalidate class="css-form">
                                                <div class="addcustomerContent">
                                                    <div class="customerField form-group">
                                                        <input id="categoryNewName" class="form-control" type="text" placeholder="Category Name" ng-model="CategoryName">
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-6">
                                                            <button id="addcategoryBtn" class="btn  add_category_btn addCustomerbtn" type="submit">Add Category</button>
                                                        </div>
                                                        <div class="col-md-6 col-xs-6">
                                                            <button id="cancelBtn" class="btn btn-default cateCancelbtn" type="button" ng-click="showcategorypopup =false">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="categoryList">
                                <ul>
                                    <li>
                                        <a ng-click="showAllServicePopup()">
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                            <span class="categoryServices">All Services</span>
                                        </a>
                                    </li>

                                    <li ng-repeat="item in Categories">
                                        <a ng-click="ShowCategoryService(item)">
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                            <span class="categoryServices">{{item.Name}}</span>
                                        </a>
                                    </li>
                                    <!--<li>
                                        <a href="#">
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                            <span class="categoryServices">Category 2 (0)</span>
                                        </a>
                                    </li>-->
                                </ul>

                            </div>


                        </div>
                    </div>

                    <div class="col-md-9 categoryRightSec" ng-hide="showAddServiceDiv">
                        <div class="categoryButtonsDiv">
                            <button id="serviceSaveBtn" class="btn  add_category_btn serviceSaveBtn" ng-click="SaveService()">Save</button>
                            <button id="serviceCancelBtn" class="btn btn-default serviceCancelBtn" ng-click="showAllServicePopup()">Cancel</button>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="customerProfileDiv">
                                    <form class="form-horizontal imageUploadForm" name="servicenameform">
                                        <div class="form-group 	serviceIconImage">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                <img src="/Content/Assets/images/service-icon-big.png">

                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileupload-new">
                                                        </span>
                                                        <input type="file">
                                                    </span>
                                                </div>
                                                <span class="uploadImageIcon uploadSeviceIcon"><i class="fa fa-camera" style="margin-left:3px;margin-top:-3px;" aria-hidden="true"></i></span>
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12 sampleServicesSec">

                                                <input type="text" class="customerName sampServiceName form-control" id="" placeholder="Sample Service name*" ng-model="ServiceName" name="ServiceName">
                                                <div class="">

                                                    <div class="dropdown serviceColors">
                                                        <button class="btn dropdown-toggle chooseServiceColor" type="button" data-toggle="dropdown">
                                                            <input type="checkbox" class="sampleCheckbox" name="" value="service">
                                                            <span class="caret"></span>
                                                        </button>

                                                        <ul class="dropdown-menu serviceColorList">
                                                            <li><a href=""><span class="serviceColorPallet red"></span>Red</a></li>
                                                            <li><a href=""><span class="serviceColorPallet light-gray"></span>Light gray</a></li>
                                                            <li><a href=""><span class="serviceColorPallet green"></span>Green</a></li>
                                                            <li><a href=""><span class="serviceColorPallet light-blue"></span>Light blue</a></li>
                                                            <li><a href=""><span class="serviceColorPallet maroon"></span>Maroon</a></li>
                                                            <li><a href=""><span class="serviceColorPallet deep-sky-blue"></span>Deep sky blue</a></li>
                                                            <li><a href=""><span class="serviceColorPallet violet"></span>Violet</a></li>
                                                            <li><a href=""><span class="serviceColorPallet yellow"></span>Yellow</a></li>
                                                            <li><a href=""><span class="serviceColorPallet orange"></span>Orange</a></li>
                                                        </ul>


                                                    </div>
                                                </div>
                                                <span class="characterAllowed">Maximum characters allowed <span id="serviceName_CharacterCount" style="color:red;">250</span></span>
                                                <div class="servicesTextareaDiv">
                                                    <textarea class="form-control" placeholder="Service Description" maxlength="500" ng-model="ServiceDescription"></textarea>
                                                </div>
                                            </div>

                                        </div>

                                    </form>

                                    <form class="form-horizontal customerDetail" name="servicedetailform">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Service Cost (₹)</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control" id="text" placeholder="90" name="text" ng-model="ServiceCost">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Service Time (mins*)</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control" id="text" placeholder="90" name="ServiceTime" ng-model="ServiceTime">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Buffer Time (mins)</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control" id="text" placeholder="Time in min" name="text" ng-model="BufferTime">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Categories List</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="dropdown appointProvider serviceCategoryList">
                                                    <button class="btn categoryDropBtn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Category({{CategoryCheckedCount}})
                                                        <span class="glyphicon glyphicon-chevron-down chevronDownIcon"></span>
                                                    </button>
                                                    <div class="dropdown-menu popupdropdownDiv" aria-labelledby="dropdownMenu2">
                                                        <ul class="list-inline">
                                                            <!--<li>
                                                                <span class="serviceCheckboxDiv">
                                                                    <input type="checkbox" class="sampleCheckbox" name="" value="service">
                                                                    Category1
                                                                </span>
                                                            </li>-->
                                                            <li ng-repeat="data in Categories">
                                                                <span class="serviceCheckboxDiv">
                                                                    <input type="checkbox" class="sampleCheckbox" name="" value="service" ng-model="data.Confirmed" ng-click="CategoryConfirmedCount()">{{data.Name}}
                                                                </span>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Private Service</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12 recurringDiv">
                                                <div class="onoffswitch recurringOnOffBtn categorySwitchBtn">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" checked="">
                                                    <label class="onoffswitch-label" for="myonoffswitch1">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>

                            </div>

                            <div class="col-md-5">
                                <div class="provideServiceDiv customerProfileDiv">
                                    <p>Who can provide the service *</p>
                                    <div class="dropdown serviceprovideBtn" ng-repeat="staff in staffList">
                                        <!--<button id="staffBtn" class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            <span id="servicePlusIcon" class="glyphicon glyphicon-plus"></span>
                                            <span class="glyphicon glyphicon-ok serviceOkIcon"></span>
                                            All Staff
                                        </button>-->
                                        <div class="checkbox active">
                                            <label class="labelBox" id="clickLabel">
                                                <input type="checkbox" value="" ng-model="staff.confirmed" ng-click="staffchecked(staff)">
                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                               {{staff.staffName}}
                                            </label>
                                        </div>
                                    </div>
                                    <!--<div class="dropdown serviceprovideBtn">
                                        <div class="checkbox active">
                                            <label class="labelBox" id="clickLabel">
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                David
                                            </label>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--//////////////////////////////-->
                    <div class="col-md-9 categoryRightSec" ng-hide="EditServiceDiv">
                        <div class="categoryButtonsDiv">
                            <a id="deletecateBtn" ng-click="DeleteService()" class="deleteCate">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>                              
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="customerProfileDiv">
                                    <form class="form-horizontal imageUploadForm" >
                                        <div class="form-group 	serviceIconImage">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                <img src="/Content/Assets/images/service-icon-big.png">

                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileupload-new">
                                                        </span>
                                                        <input type="file">
                                                    </span>
                                                </div>
                                                <span class="uploadImageIcon uploadSeviceIcon"><i class="fa fa-camera" style="margin-left:3px;margin-top:-3px;" aria-hidden="true"></i></span>
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12 sampleServicesSec">

                                                <input type="text" class="customerName sampServiceName form-control" id="" placeholder="Sample Service name*" ng-model="ServiceName" name="ServiceName">
                                                <div class="">

                                                    <div class="dropdown serviceColors">
                                                        <button class="btn dropdown-toggle chooseServiceColor" type="button" data-toggle="dropdown">
                                                            <input type="checkbox" class="sampleCheckbox" name="" value="service"/>
                                                            <span class="caret"></span>
                                                        </button>

                                                        <ul class="dropdown-menu serviceColorList">
                                                            <li><a href=""><span class="serviceColorPallet red"></span>Red</a></li>
                                                            <li><a href=""><span class="serviceColorPallet light-gray"></span>Light gray</a></li>
                                                            <li><a href=""><span class="serviceColorPallet green"></span>Green</a></li>
                                                            <li><a href=""><span class="serviceColorPallet light-blue"></span>Light blue</a></li>
                                                            <li><a href=""><span class="serviceColorPallet maroon"></span>Maroon</a></li>
                                                            <li><a href=""><span class="serviceColorPallet deep-sky-blue"></span>Deep sky blue</a></li>
                                                            <li><a href=""><span class="serviceColorPallet violet"></span>Violet</a></li>
                                                            <li><a href=""><span class="serviceColorPallet yellow"></span>Yellow</a></li>
                                                            <li><a href=""><span class="serviceColorPallet orange"></span>Orange</a></li>
                                                        </ul>


                                                    </div>
                                                </div>
                                                <span class="characterAllowed">Maximum characters allowed <span id="serviceName_CharacterCount" style="color:red;">250</span></span>
                                                <div class="servicesTextareaDiv">
                                                    <textarea class="form-control" placeholder="Service Description" maxlength="500" ng-model="ServiceDescription"></textarea>
                                                </div>
                                            </div>

                                        </div>

                                    </form>

                                    <form class="form-horizontal customerDetail" >
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Service Cost (₹)</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control" id="text" placeholder="90" name="text" ng-model="ServiceCost">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Service Time (mins*)</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control" id="text" placeholder="90" name="ServiceTime" ng-model="ServiceTime">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Buffer Time (mins)</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control" id="text" placeholder="Time in min" name="text" ng-model="BufferTime">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Categories List</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="dropdown appointProvider serviceCategoryList">
                                                    <button class="btn categoryDropBtn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Category({{CategoryCheckedCount}})
                                                        <span class="glyphicon glyphicon-chevron-down chevronDownIcon"></span>
                                                    </button>
                                                    <div class="dropdown-menu popupdropdownDiv" aria-labelledby="dropdownMenu2">
                                                        <ul class="list-inline">                                                          
                                                            <li ng-repeat="data in Categories">
                                                                <span class="serviceCheckboxDiv">
                                                                    <input type="checkbox" class="sampleCheckbox" name="" value="service" ng-model="data.Confirmed" ng-click="CategoryConfirmedCount()">{{data.Name}}
                                                                </span>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Private Service</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12 recurringDiv">
                                                <div class="onoffswitch recurringOnOffBtn categorySwitchBtn">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" checked="">
                                                    <label class="onoffswitch-label" for="myonoffswitch1">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>

                            </div>

                            <div class="col-md-5">
                                <div class="provideServiceDiv customerProfileDiv">
                                    <p>Who can provide the service *</p>
                                    <div class="dropdown serviceprovideBtn" ng-repeat="staff in staffList">                                     
                                        <div class="checkbox active">
                                            <label class="labelBox" id="clickLabel">
                                                <input type="checkbox" value="" ng-model="staff.confirmed" ng-click="staffchecked(staff)">
                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                {{staff.staffName}}
                                            </label>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-9 categoryRightSec allServiceSec" ng-hide="showCategoryServicesDiv">
                        <div class="categoryButtonsDiv">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="customerDetail">
                                        <input type="text" class="customerName serviceField form-control" id="name" name="name" placeholder="Services" ng-model="CategoryName" ng-blur="EditCategory(CategoryName)">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="addServiceButton">
                                        <a ng-click="DeleteCategory()"  id="deletecateBtn" class="deleteCate cursorhand">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            <span>delete category</span>
                                        </a>
                                        <div id="tooltipPopupdelete" class="addCustomer deleteCategorySec" style="display: none;">
                                            <div class="pointerRightIcon rightImage"></div>
                                            <h3 class="addCustomerTitle">Delete Category?</h3>
                                            <div class="addcustomerContent">
                                                <button id="deleteBtn" class="btn btn-danger addCustomerbtn">Delete</button>
                                                <button id="cancleBtn" class="btn btn-default addCustomerbtn">Cancel</button>
                                            </div>
                                        </div>
                                        <a ng-click="AddServicePopup()" class="serviceButton btn btn-default">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            <span>Add Service</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sampleServiceSec">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="sampleServicediv">
                                        <ul class="list-inline">
                                            <li ng-repeat="data in ServiceDividedByCategory">
                                                <div class="borderWidth"></div>
                                                <div class="serviceDragImage"></div>
                                                <div class="sampleServiceImage">
                                                    <img src="/Content/Assets/images/service-icon-big.png">

                                                    <div class="samSerDiv">
                                                        <h4 class="sampleHead">{{data.Name}}</h4>
                                                        <p class="sampleParaText"></p>
                                                        <div class="serviceSampleDetail pull-right">
                                                            <span>{{data.DurationInMinutes}}</span>
                                                            <span>{{data.Cost}}</span>
                                                            <!--<span>No Buffer</span>-->

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="rightIcon">
                                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-9 categoryRightSec allServiceSec" ng-hide="showAllServicesDiv">
                        <div class="categoryButtonsDiv">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="customerDetail">
                                        <h3>All Services</h3>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="addServiceButton">
                                        <a ng-click="AddServicePopup()" class="serviceButton btn btn-default">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            <span>Add Service</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sampleServiceSec">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="sampleServicediv">
                                        <ul class="list-inline">
                                            <li ng-repeat="servicedetail in AllServices" ng-click="EditService(servicedetail)">
                                                <div class="borderWidth"></div>
                                                <div class="serviceDragImage"></div>
                                                <div class="sampleServiceImage">
                                                    <img src="/Content/Assets/images/service-icon-big.png">

                                                    <div class="samSerDiv">
                                                        <h4 class="sampleHead">{{servicedetail.Name}}</h4>
                                                        <p class="sampleParaText"></p>
                                                        <div class="serviceSampleDetail pull-right">

                                                            <span>{{servicedetail.DurationInMinutes}}</span>
                                                            <span>{{servicedetail.Cost}}</span>
                                                            <span>No Buffer</span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="rightIcon">
                                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>





